body{
  font-family: monospace;
}

.correct {
  color: green;
}

.incorrect{
  color: red;
}

.question{
  border: 1px solid;
  margin: 10px;
  padding: 20px;
}

.questions{
  display: flex;
  flex-wrap: wrap;
}
